<mat-toolbar>
    <span>Edicion de juegos</span>
</mat-toolbar>

<form class="example-container" [formGroup]="form" #frmJuego="ngForm" (ngSubmit)="operar()">

    
    <mat-form-field>
        <input matInput placeholder="Nombre" required formControlName="nombre">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Direccion API" required formControlName="direccion">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Direccion FrontEnd" required formControlName="front">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmJuego.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>

    <button mat-raised-button color="warn" type="button" routerLink="/juego">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>