
<form class="example-container" [formGroup]="form" #frmUsuario="ngForm" (ngSubmit)="operar()">

    
    <mat-form-field>
        <input matInput placeholder="Correo" required formControlName="correo">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nombres" required formControlName="nombres">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Apellidos" required formControlName="apellidos">
    </mat-form-field>

    <div [hidden]="edicion">
        <mat-form-field>
            <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>        
    </div>

    <mat-form-field appearance="fill">
        <mat-label>Administrador</mat-label>
        <mat-select formControlName="administrador" required>
            <mat-option [value]="true">Si</mat-option>                        
            <mat-option [value]="false">No</mat-option>             
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmUsuario.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>

    <button mat-raised-button color="warn" type="button" routerLink="/usuario">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>