
<H2>Partidas</H2>

<table mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <!-- Name Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id_partida}} </td>
    </ng-container>
    
    <ng-container matColumnDef="Jugador 1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Jugador 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_jugador1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Resultado jugador 1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resultado jugador 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.resultado_jugador1}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Jugador 2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Jugador 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre_jugador2}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Resultado jugador 2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Resultado jugador 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.resultado_jugador2}} </td>
    </ng-container>
   

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">            
            <div [hidden]="id_estado == 3 || element.nombre_jugador2 == 'Sin definir' || element.nombre_jugador2 == 'Sin definir'">
                <button mat-button (click)="simularPartida(element)">Simular</button>
            </div>  
        </td>
    </ng-container>

    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
<div class="example-button-row">    
    <button style="width: 100%;" mat-raised-button  routerLink="/torneo" color="warn">Cerrar</button>    
</div>


