.example-container{
    display: flex;
    flex-direction: column;
}

.example-full-width > *{
    width: 100%;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  table {
    width: 100%;
}
th, td {
    text-align: center;    
}