<mat-toolbar>
    <span>Ingrese sus datos para continuar</span>
</mat-toolbar>
<form class="example-container" [formGroup]="form" #frmUsuario="ngForm" (ngSubmit)="operar()">
    
    <mat-form-field>
        <input matInput placeholder="Correo" required formControlName="correo">
    </mat-form-field>    
    
    <mat-form-field>
        <input matInput type="password" required placeholder="Password" formControlName="password">
    </mat-form-field>            

    <button mat-raised-button color="primary" type="submit" [disabled]="frmUsuario.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
</form>