.example-container{
    display: flex;
    flex-direction: column;
}

.example-full-width > *{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }