<h1>Partidas</h1>
<main id="tournament">
    <ul class="round round-1" *ngIf="roundOf16.length > 0">
        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{roundOf16[0].nombre_jugador1}} <span> {{roundOf16[0].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{roundOf16[0].nombre_jugador2}} <span> {{roundOf16[0].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{roundOf16[1].nombre_jugador1}} <span> {{roundOf16[1].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{roundOf16[1].nombre_jugador2}} <span> {{roundOf16[1].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{roundOf16[2].nombre_jugador1}} <span> {{roundOf16[2].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{roundOf16[2].nombre_jugador2}} <span> {{roundOf16[2].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{roundOf16[3].nombre_jugador1}} <span> {{roundOf16[3].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{roundOf16[3].nombre_jugador2}} <span> {{roundOf16[3].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{roundOf16[4].nombre_jugador1}} <span> {{roundOf16[4].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{roundOf16[4].nombre_jugador2}} <span> {{roundOf16[4].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{roundOf16[5].nombre_jugador1}} <span> {{roundOf16[5].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{roundOf16[5].nombre_jugador2}} <span> {{roundOf16[5].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{roundOf16[6].nombre_jugador1}} <span> {{roundOf16[6].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{roundOf16[6].nombre_jugador2}} <span> {{roundOf16[6].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{roundOf16[7].nombre_jugador1}} <span> {{roundOf16[7].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{roundOf16[7].nombre_jugador2}} <span> {{roundOf16[7].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-2" *ngIf="Quarter.length > 0">
        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{Quarter[0].nombre_jugador1}} <span> {{Quarter[0].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{Quarter[0].nombre_jugador2}} <span> {{Quarter[0].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{Quarter[1].nombre_jugador1}} <span> {{Quarter[1].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{Quarter[1].nombre_jugador2}} <span> {{Quarter[1].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{Quarter[2].nombre_jugador1}} <span> {{Quarter[2].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{Quarter[2].nombre_jugador2}} <span> {{Quarter[2].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{Quarter[3].nombre_jugador1}} <span> {{Quarter[3].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{Quarter[3].nombre_jugador2}} <span> {{Quarter[3].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-3" *ngIf="semiFinal.length > 0">
        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{semiFinal[0].nombre_jugador1}} <span> {{semiFinal[0].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{semiFinal[0].nombre_jugador2}} <span> {{semiFinal[0].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
        
        <li class="game game-top">{{semiFinal[1].nombre_jugador1}} <span> {{semiFinal[1].resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{semiFinal[1].nombre_jugador2}} <span> {{semiFinal[1].resultado_jugador2}} </span></li>

        <li class="spacer">&nbsp;</li>
    </ul>
    <ul class="round round-4" *ngIf="finalMatch != null" >
        <li class="spacer">&nbsp;</li>        
        <li class="game game-top">{{finalMatch.nombre_jugador1}} <span> {{finalMatch.resultado_jugador1}} </span></li>
        <li class="game game-spacer">&nbsp;</li>
        <li class="game game-bottom ">{{finalMatch.nombre_jugador2}} <span> {{finalMatch.resultado_jugador2}} </span></li>
        
        <li class="spacer">&nbsp;</li>
    </ul>        
</main>
<div class="" *ngIf="admin">
    <button mat-raised-button color="warn" type="button" routerLink="/torneo">
        <mat-icon>close</mat-icon>
        <span>Cerrar</span>
    </button>
</div>
<div class="" *ngIf="!admin">
    <button mat-raised-button color="warn" type="button" routerLink="/mistorneos/activos">
        <mat-icon>close</mat-icon>
        <span>Cerrar</span>
    </button>
</div>
