<mat-toolbar>
    <span>Torneos</span>
</mat-toolbar>




<div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Torneo">
    </mat-form-field>
    <button mat-fab color="accent" style="float: right;" routerLink="/torneo/nuevo" aria-label="Example icon button with a bookmark icon">
        <mat-icon>create</mat-icon>
    </button>
</div>

<router-outlet></router-outlet>

<table mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="juego">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Juego </th>
        <td mat-cell *matCellDef="let element"> {{element.juego}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="participantes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Participantes </th>
        <td mat-cell *matCellDef="let element"> {{element.participantes}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="inscritos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inscritos </th>
        <td mat-cell *matCellDef="let element"> {{element.inscritos}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" [routerLink]="['edicion', element.id_torneo]">Modificar</button>
            <button mat-button color="warn" (click)="eliminar(element.id_torneo)">Eliminar</button>
            <div [hidden]="element.id_estado != 4">
            <button mat-button color="accent" (click)="organizarTorneo(element.id_torneo)">Comenzar Torneo</button>
            </div>  
            <div [hidden]="!(element.id_estado == 2 || element.id_estado == 3)">
                <button mat-button  [routerLink]="['llaves', element.id_torneo]">Ver llaves</button>
                <button mat-button  [routerLink]="['partidas', element.id_torneo]">Ver Partidas</button>
            </div>  
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



