.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-sidenav-container {    
    flex: 1;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .centerTitle {
    text-align: center;
    padding-top: 5%;
  }

  .centerImage{
    width: 30%;
    height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }