<div class="example-container">

    <mat-toolbar color="primary" class="example-toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
      </button>
  
      <h1 class="example-app-name">Torneos</h1>
  
      <span class="example-spacer"></span>
  
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
  
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/perfil">
          <mat-icon>account_box</mat-icon>
          <span>Mi Perfil</span>
        </button>
        <button mat-menu-item (click)="sidenav.opened = false">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar Sesión</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  
    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #sidenav style="width: 200px">
        <img src="../assets/logo.png" width="128" style="margin-left: 20px">

        <div class="" *ngFor="let item of permisos">  
        <button mat-menu-item (click)="sidenav.toggle()" routerLink="{{item.ruta}}" style="cursor: pointer">
          <mat-icon>{{item.icono}}</mat-icon>
          <span>{{item.nombre}}</span>
        </button>
      </div>
      <button mat-menu-item (click)="sidenav.toggle()" (click)="salir()" style="cursor: pointer">
        <mat-icon>logout</mat-icon>
        <span>Cerrar Sesion</span>
      </button>
      </mat-sidenav>
  
      <mat-sidenav-content>        
        <div *ngIf="route.children.length === 0">          
          <h1 class="centerTitle">Bienvenido a la aplicación de Torneos! Inicie sesión para continuar</h1>        
          <img class="centerImage" src="../assets/juegos.jpg" alt="">
          <h2 class="centerTitle">Grupo No. 4</h2>
        </div>
        

        <router-outlet></router-outlet>
        <!--<app-torneobracket></app-torneobracket>-->
      </mat-sidenav-content>
  
    </mat-sidenav-container>
  
  </div>
  