
<mat-toolbar>
    <span>Juegos</span>
</mat-toolbar>

<div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar juego">
    </mat-form-field>
    <button mat-fab color="accent" style="float: right;" routerLink="/juego/nuevo" aria-label="Example icon button with a bookmark icon">
        <mat-icon>create</mat-icon>
    </button>
</div>

<router-outlet></router-outlet>

<table mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="juego">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion del API</th>
        <td mat-cell *matCellDef="let element"> {{element.direccion}} </td>
    </ng-container>

    <ng-container matColumnDef="front">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Direccion del juego</th>
        <td mat-cell *matCellDef="let element"> {{element.front}} </td>
    </ng-container>


    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" [routerLink]="['edicion', element.id_juego]">Modificar</button>
            <button mat-button color="warn" (click)="eliminar(element.id_juego)">Eliminar</button>            
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



