<mat-toolbar>
    <span>Gestion de usuarios</span>
</mat-toolbar>

<router-outlet></router-outlet>


<div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Usuario">
    </mat-form-field>
    <button mat-fab color="accent" style="float: right;" routerLink="/usuario/nuevo" aria-label="Example icon button with a bookmark icon">
        <mat-icon>create</mat-icon>
    </button>
</div>


<table mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="correo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="nombres">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombres </th>
        <td mat-cell *matCellDef="let element"> {{element.nombres}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="apellidos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellidos </th>
        <td mat-cell *matCellDef="let element"> {{element.apellidos}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="administrador">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Administrador </th>
        <td mat-cell *matCellDef="let element"> 
            <mat-checkbox class="example-margin" [checked]="element.administrador" [disabled]="true"></mat-checkbox>
        </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button mat-button color="primary" [routerLink]="['edicion', element.id]">Modificar</button>
            <button mat-button color="warn" (click)="eliminar(element.id)">Eliminar</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>