<mat-toolbar>
    <span>Mis Torneos {{state}}</span>
</mat-toolbar>

<router-outlet></router-outlet>


<div>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar Paciente">
    </mat-form-field>   
</div>


<table mat-table [dataSource]="dataSource" matSort>

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
        <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="juego">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Juego </th>
        <td mat-cell *matCellDef="let element"> {{element.juego}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="participantes">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Participantes </th>
        <td mat-cell *matCellDef="let element"> {{element.participantes}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="inscritos">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inscritos </th>
        <td mat-cell *matCellDef="let element"> {{element.inscritos}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
    </ng-container>

    <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    

    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element">
            <button *ngIf="displayKeys" mat-button color="warn" [routerLink]="['llaves', element.id_torneo]">Ver llaves</button>            
            <button *ngIf="element.id_estado == 2" mat-button color="primary" (click)="validarMovimiento(element.id_torneo)">Jugar</button>      
            <button *ngIf="!displayKeys" mat-button color="warn" (click)="registrar(element.id_torneo)">Registrarme!</button>            
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

