
<form class="example-container" [formGroup]="form" #frmTorneo="ngForm" (ngSubmit)="operar()">

    <div [hidden]="true">
        <mat-form-field>
            <input matInput placeholder="ID_torneo" formControlName="id_torneo">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="id_ganador" formControlName="id_ganador">
        </mat-form-field>
        <mat-form-field [hidden]=true>
            <input matInput placeholder="id_estado" formControlName="id_estado">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="estado" formControlName="estado">
        </mat-form-field>
        <mat-form-field>
            <input type="date" matInput placeholder="fecha" formControlName="fecha">
        </mat-form-field>
    </div>

    <mat-form-field>
        <input matInput placeholder="Nombre" required formControlName="nombre">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Elija un juego</mat-label>
        <mat-select formControlName="id_juego" required>
            <mat-option *ngFor="let game of games" [value]="game.id_juego">{{game.nombre}}</mat-option>                        
        </mat-select>
    </mat-form-field>    

    <mat-form-field appearance="fill">
        <mat-label>Participantes</mat-label>
        <mat-select formControlName="participantes" required>
            <mat-option *ngFor="let cant of cants" [value]="cant">{{cant}}</mat-option>                        
        </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="frmTorneo.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>

    <button mat-raised-button color="warn" type="button" routerLink="/torneo">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>